body {
}

.job-ta {
    padding: 0 8px;
}

.feature-job-item {
    background-color: #ebf6ff;
    border-radius: 5px;
    box-shadow: -1px 1px 4px #0000000d;
    margin: 6px 0;
    padding: 16px;
    transition: box-shadow .2s;
}

.cvo-flex {
    display: flex;
}

.logo-user {
    height: 100px;
    object-fit: contain;
    width: 100px;
    display: inline-block;
    max-width: 100%;
}

.box-company-logo {
    align-items: center;
    border: 0.25px solid #f7f7f7;
    border-radius: 7px;
    display: flex;
    height: 70px;
    overflow: hidden;
    width: 70px;
}

.cvo-flex-grow {
    box-sizing: border-box;
    min-height: 44px;
    overflow: hidden !important;
    padding-left: 12px;
    padding-right: 39px;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    flex-grow: 1;
}

.u-name {
    font-size: 12px;
    color: violet;
}

    .u-name span {
        color: black;
    }

.u-title {
    font-size: 15px;
    padding-bottom: 7px;
}

    .u-title span {
        color: blueviolet;
    }

.u-add {
    display: flex;
    padding-top: 15px;
    font-size: 13px;
}

    .u-add div {
        padding-right: 20px;
        padding-left: 5px;
    }

.time {
    float: right;
    width: 80px;
}

.job-bd {
    margin-top: 0px;
    margin-bottom: 20px;
    height: auto;
    background-color: #dcfdf2;
    display: -webkit-box;
    max-width: 900px;
}

.des {
    height: auto;
    width: 500px;
}

.grid{
    padding-top: 50px;
}

    .grid input {
        width: 100px;
        height: 40px;
        background-color: antiquewhite;
        border-radius: 11px;
    }

.header-duyettin{
    padding-bottom: 20px;
}


.snip1457 {
    font-family: 'Raleway', Arial, sans-serif;
    border: none;
    background-color: #c47135;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    padding: 0px 30px;
    display: inline-block;
    margin: 0 15px;
    text-transform: uppercase;
    line-height: 40px;
    font-weight: 400;
    font-size: 1em;
    outline: none;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    border-radius: 23px;
    letter-spacing: 2px;
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.click {
    border: groove;
}
